In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [6]:
df = pd.read_csv("pima_indian.csv")
feature_col_names = ['num_preg', 'glucose_conc', 'diastolic_bp', 'thickness', 'insulin', 'bmi', 'diab_pred', 'age']
predicted_class_names = ['diabetes']

In [7]:
df.head(10)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [8]:
avg_bmi = ['bmi']

z=df[avg_bmi].mean()
print(z)

bmi    31.992578
dtype: float64

In [9]:
print(df["bmi"])

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: bmi, Length: 768, dtype: float64

In [10]:
X = df[feature_col_names].values # these are factors for the prediction
y = df[predicted_class_names].values # this is what we want to predict

In [11]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

In [12]:
print ('\n the total number of Training Data :',ytrain.shape)
print ('\n the total number of Test Data :',ytest.shape)

 the total number of Training Data : (614, 1)

 the total number of Test Data : (154, 1)

In [13]:
clf = GaussianNB().fit(xtrain,ytrain.ravel())
predicted = clf.predict(xtest)
predictTestData= clf.predict([[6,148,72,35,0,33.6,0.627,50]])

In [14]:
print('\n Confusion matrix')
print(metrics.confusion_matrix(ytest,predicted))

 Confusion matrix
[[73 18]
 [23 40]]

In [15]:
print('\n Accuracy of the classifier is',metrics.accuracy_score(ytest,predicted))

 Accuracy of the classifier is 0.7337662337662337

In [16]:
print('\n The value of Precision', metrics.precision_score(ytest,predicted))

 The value of Precision 0.6896551724137931

In [17]:
print('\n The value of Recall', metrics.recall_score(ytest,predicted))

 The value of Recall 0.6349206349206349

In [18]:

print("Predicted Value for individual Test Data:", predictTestData)

Predicted Value for individual Test Data: [1]